body{
    background-color: wheat;
}

.displayNode{
    display: flex;
    justify-content: space-evenly;
}

.deviceControlInput{
    width: 50px;
}

.deviceControlDiv{
    height: 70px;
}

button{
    height: 20px;
}

h4{
    margin: 0;
}

.displayNode{
    margin-top: 20px;
    height: 25px;
}